.buttom{
   background-color:var(--Dark-cyan);
   display:flex;
   justify-content: center;
   align-items:center;
   border-radius: 10px;
   padding:1.5rem 1rem;
   color:var(--White);
   font-size:1.3rem;
   gap:0.5rem;
}


@media (min-width:600px){
   .buttom{
      gap:1rem;
   }
}