*,*:before,*:after{
   box-sizing:border-box;
}

*{
   margin:0;
   padding:0;
}

body{
   font-size:14px;
   background-color: var(--Cream);
   display:flex;
   justify-content: center;
   align-items: center;
   /* font-family: 'Fraunces', serif; */
font-family: 'Montserrat', sans-serif;
}