.image img{
   width:100%;
   height:100%;
   object-fit: cover;
}
.mobile{
   border-radius: 10px 10px 0 0;
}
.desktop{
   display: none;
}

@media (min-width:1440px){
   .mobile{
      display: none;
   }

   .desktop{
      width:50%;
      display: inline-block;
      border-radius: 10px 0 0 10px;
   }
}