.price{
   display:flex;
   align-items:center;
}

.price p:first-child{
    font-family: 'Fraunces', serif; 
    color: var(--Dark-cyan);
    font-size:3rem;
}

@media (min-width:600px){
   .price{
      gap:1rem;
   }
}
