.product{
    color:var(--Dark-grayish-blue);
    letter-spacing:0.4rem;
   text-transform: uppercase;
   font-size:0.9rem;
}

@media (min-width:1440px){
   .product{
      font-size: 1.3rem;
      font-weight: 400;
   }
}
